<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/tempconverter/src/tempconverter/TempConverter.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="tempconverter.TempConverter"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="tempconverter"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="tempconverter"/>
</launchConfiguration>
